<div class="container">
  <h2>Pls enter your question and hope it's the good one!</h2>
  <form class="form-question" action="/answer" method="get">
    <input class="input" type="text" name="question"><input class="submit" type="submit" value="Ask!">
  </form>
</div>
